body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 500px;
  margin: 0 auto;
}

header {
  text-align: center;
  font-size: large;
  font-family: y;
}

.quote-image img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.likes-btn {
  margin-right: 20px;
  color: red;
  border: none;
  cursor: pointer;
}

.next-button {
  padding: 3px;
  background-color: #b054c4;
  color: #fff;
  cursor: pointer;
}
/* Category Buttons */
.category-buttons {
  display: flex;
  justify-content: space-around;
}

.category-button {
  background-color: #eee;
  font-style: italic;
  color: #333;
  border: none;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 5px;
  
}